.container {
    margin: auto auto;
    background-color: bisque;
    width: 350px;
}

.barContainer {
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.imgHearth {
    margin: auto;
    grid-column: 3 / span 1 ;
}

.imgCross {
    margin: auto;
}

.infoBoxHeader {
    text-align: center;
    margin-top: 20px;
}

.programInfoBox {
    margin: 0px 20px;
}

.info {
    margin: 10px;
}

span {
    margin-left: 20px;
    margin-right: 20px;
}

.commentContainer {
    padding: 0px 20px;
}

.commentDiv {
    margin-top: 10px;
}

.commentContainer > div {
    padding: 10px;
}

.commentName {
    margin-top: 5px;
    margin-bottom: 5px;
}