body{
    margin: 0px;
    overflow-x: scroll;
    overflow-y: scroll;
}
svg {
    overflow: scroll;
    overflow-x: scroll;
    width: 850px;
}

#world > g > path {
    fill: blue;
    stroke: darkblue;
}

#world > g > g >  path {
    fill: darkgray;
    stroke: grey;
}

#world > g:hover > path {
    fill: aqua;
    stroke: teal;
}

.continent > g > path {
    fill: blue;
    stroke: darkblue;
}

.continent > g:hover > path {
    fill: aqua;
    stroke: teal;
}

.grey > g > path {
    fill: darkgray;
    stroke: grey;
}