.active {
    background-image: linear-gradient(gray, darkgrey);
    color: white;
    border-radius: 4px;
}

#allFilters {
    display: none;
}

#allFilters.showFilters{
    display: block;
}

#filterToggle {
    width: 54px;
    border: 2px solid darkgray;
    border-radius: 4px;
    margin-bottom: 30px;
}


.filterButtons {
    display: none;
    flex-wrap: wrap;
}

.filterContainer {
    display: flex;
    flex-direction: column;
}

.filterContainer > div:nth-child(1){
    background-image: linear-gradient(whitesmoke, lightgray);
    border: 2px solid darkgray;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.filterContainer > div:nth-child(1):hover{
    cursor: pointer;
    background-image: none;
    background-color: gainsboro;
}

.showButtons + .filterButtons{
    display: flex;
}

.filterButtons {
    flex-shrink: 1;
}

.filterButtons > button {
    margin: 5px;
}

.filterContainer{
    margin-bottom: 20px;
}