:root{
    --dark: #344450; 
    --lightGrey: #eaeaee;
    --lightBeige: #EDE7DF;
}

body{
    margin: 0;
    color: var(--dark);
}

#list-container{
    background-color: var(--lightBeige);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.continent-div{
    border-bottom: 1px solid #dad4cd;
    background-color: var(--lightBeige);
}

.continent-div:hover{
    cursor: pointer;
}

.country-div, .continent-div{
    cursor: pointer;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country-div > a{
    text-decoration: none;
    color: var(--dark);
}

.unactive{
    display: none;
}

.country-container{
    background-color: #e4ded7;
}

#view-bar{
    display: flex;
    background-color: #344450d0;
    color: var(--lightGrey);
}

.list-view, .map-view{
    cursor: pointer;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    flex-grow: 1;
}


.active-view{
    background-color: #28343d;
}

#map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--lightBeige);
}