:root{
    --dark: #344450; 
    --lightGrey: #eaeaee;
    --lightBeige: #EDE7DF;
}

body{
    margin: 0;
}

#list-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 80px;
}


/* .continent-div{ */
    /* border-bottom: 1px solid #dad4cd; */
    /* background-color: var(--lightBeige); */
/* } */

.continent-div:hover{
    cursor: pointer;
}

.country-div, .continent-div{
    cursor: pointer;
    height: 8vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    padding-left: 15px;
    font-size: 20px;
    font-family: 'Barlow Condensed';
}

.country-div > a{
    text-decoration: none;
    color: #ae8181;
}

.unactive{
    display: none;
}

.country-container{
    background-color: #e4ded7;
}

#view-bar{
    display: flex;
    background-color: #344450d0;
    color: var(--lightGrey);
}

.list-view, .map-view{
    cursor: pointer;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    flex-grow: 1;
    font-family: 'Barlow Condensed';
}


.active-view{
    background-color: #28343d;
}

