:root{
    --dark: #344450; 
    --lightGrey: #eaeaee;
    --lightBeige: #EDE7DF;
}

#info-div{
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 40px;
    padding-bottom: 60px;
}

.button{
    background-color: black;
    height: 40px;
    width: 40px;
}

#map-container{
    height: 100VH;
    display: none;
}
#map-div{
    overflow: scroll;
}

/* #world-map{
    width: 200%;
    transition-duration: 2s;
} */

svg path{
    fill: gray;
}

/* svg path:hover{
    fill: #28343d;
    cursor: pointer;
} */


#SE,#ES{
    fill: var(--dark);
}

#SE:hover, #ES:hover{
    fill: #27333c;
}



