:root{
    --dark: #344450; 
    --lightGrey: #eaeaee;
    --lightBeige: #EDE7DF;
}


body{
    margin: 0;
}

#top-img{
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.city-div{
    border-bottom: 10px solid var(--lightBeige);
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.city-info{
    text-align: center;
    background-color: #344450d4;
    color: var(--lightGrey);
    padding: 15px;
    margin: 30px;
}

.cityButton{
    background-color: var(--lightBeige);
    color: var(--dark);
    margin-top: 10px;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    transition: background-color 300ms;
}

.cityButton:hover {
    background-color: var(--dark);
    color: var(--lightBeige);
}

.country-info{
    padding: 20px;
    border-bottom: 8px solid var(--lightBeige);
    text-align: center;
}

.country-info > h2{
    text-align: center;
}