
.field-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-img >img {
  width: 100vw;
}

.field-text, .field-title, .field-info {
  margin-left: 10px;
  margin-right: 10px;
}
.field-title {
text-align: center;
}
.field-name {
  margin-bottom: 0px;
}

.field-button {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 20px;
}