:root {
    --beigeColor: #EDE7DF;
    --lightColor: #EAEAEA;
    --darkColor: #425664;
    --whiteColor: white;
    --blackColor: black;
  }

body {
    margin: 0px;
}

button {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.active {
    background-image: linear-gradient(var(--darkColor), darkgrey);
    color: white;
    border-radius: 4px;
}

.filterButtons > button.active {
    background-image: linear-gradient(var(--darkColor), darkgrey);
    color: white;
    border-radius: 4px;
}

#allFilters {
    position: absolute;
    transition: top 300ms;
    top: -460px;
    background-color: var(--beigeColor);
    padding: 10px;
    width: calc(100% - 20px);
    border-bottom: #425664 solid;
    border-radius: 0px 0px 15px 15px;
}

#allFilters.showFilters{
    top: 45px;
}

#filterToggle {
    width: 54px;
    border: 2px solid darkgray;
    border-radius: 4px;
    margin: 10px;
    background-image: linear-gradient(var(--lightColor), lightgray);
    font-size: 16px;
}

#filterToggle:hover {
    cursor: pointer;
    background-image: none;
    background-color: gainsboro;
}


.filterButtons {
    display: none;
    flex-wrap: wrap;
}

.filterButtons > button {
    border-radius: 4px;
    background-image: linear-gradient(var(--lightColor), lightgray);
    border: 2px solid darkgray;
}

.filterContainer {
    display: flex;
    flex-direction: column;
}

.filterContainer > div:nth-child(1){
    background-image: linear-gradient(var(--lightColor), lightgray);
    border: 2px solid darkgray;
    width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

.filterContainer > div:nth-child(1):hover{
    cursor: pointer;
    background-image: none;
    background-color: gainsboro;
}

.showButtons + .filterButtons{
    display: flex;
}

.filterButtons {
    flex-shrink: 1;
}

.filterButtons > button {
    margin: 5px;
}

.filterContainer{
    margin-bottom: 20px;
}