:root {
    --beigeColor: #EDE7DF
    --lightColor: #EAEAEA
    --darkColor: #425664;
    --whiteColor: white;
    --blackColor: black;
  }

/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

#header-info {
    background-image: url(../Databasen/frontpage.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}

#header-text {
    padding: 20px;
    text-align: center;
    width: 70%;
    min-width: 200px;
    max-width: 500px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    background-color: #ffffff82;
}

.all-about-button, .down-button, .slide-button, .img-slide-button {
    display: inline-block;
    color: black;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 15px 40px;
    border: 1px solid rgb(198, 198, 198);
    border-radius: 6px;
    margin-bottom: 10px;
    cursor: pointer;
}

#scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-button {
    border: 0;
    font-size: 20px;
    height: 50px;
}

#img-slide-box {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

#img-box {
    display: flex;
    overflow: scroll;
}

.img-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
    height: 250px;
    width: 50vw;
    max-width: 250px;
    min-width: 160px;

    background-size: cover;
    background-position: center;
    background-color: rgb(216, 212, 212);
}

.sweden{
    background-image: url(../Databasen/Images/sweden_normal_2.jpg);
    background-size: cover;
    background-position: center;
}

.spain{
    background-image: url(../Databasen/Images/spain_normal_2.jpg);
    background-size: cover;
    background-position: center;
}

.france{
    background-image: url(../Databasen/Images/france_normal_2.jpg);
    background-size: cover;
    background-position: center;
}

.australien{
    background-image: url(../Databasen/Images/australia_normal_1.jpg);
    background-size: cover;
    background-position: center;
}

.img-slide-button {
    padding: 10px 15px;
}

#slide-show {
    position: absolute;
    display: flex;
    justify-content: flex-end;

    width: 100%;
    max-width: 1000px;
}

.slide-button {
    box-sizing: border-box;
    padding: 5px;
    font-size: 15px;
    width: 50px;
    height: 35px;
}

.slide-button:nth-child(2) {
    margin-right: 10px;
}

#info-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}

#text-info {
    text-align: center;
    width: 80%;
    padding: 10px;
    max-width: 1000px;
}

#ressencioner-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}

.comment-box {
    max-width: 1000px;
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0px;
    font-size: 11pt;
}

.comment > h4{
    margin: 0px;
}


#img-field-box{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.math{
    background-image: url("../Databasen/Images/field pictures/matematik.jpg");
    background-size: cover;
}

.med{
    background-image: url("../Databasen/Images/field pictures/medicin.jpg");
    background-size: cover;
}
.tec{
    background-image: url("../Databasen/Images/field pictures/teknik.jpg");
    background-size: cover;
}

.law{
    background-image: url("../Databasen/Images/field pictures/juridik.jpg");
    background-size: cover;
}
