.imgTop {
    background-image: url(../Databasen/Images/info/info.jpg);
    background-size: cover;
    background-position: center;
}

.imgMid {
    background-image: url(../Databasen/Images/info/midinfo.jpg);
    background-size: cover;
    background-position: bottom;
}