.imgTop {
    background-image: url(../Databasen/Images/studyAbroad2.jpeg);
    background-size: cover;
    background-position: center;
}

.imgMid {
    margin: 10px;
    background-image: url(../Databasen/Images/studyAbroad.jpeg);
    background-size: cover;
    background-position: center;
}