:root{
    --dark: #344450; 
    --darkLowOpacity: hsl(206, 21%, 26%, 0.3); 
    --lightGrey: #eaeaee;
    --lightBeige: #EDE7DF;
}

*{
    margin: 0px;
    padding: 0px;
}
 
.buttonBox {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
 
.buttonProgram  {
    padding: 50px;
}
 
.overLay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkLowOpacity);
    pointer-events: none;
}

.overLay.active {
    opacity: 1; 
}

.containerPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    
    background-color: var(--dark);
    color: var(--lightGrey);
    border-radius: 5px;

    height: 600px;
    width: 95%;
    padding-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

.containerPopUp.active {
    transform: translate(-50%, -50%) scale(1);
}

.barContainer {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
 
.imgCross, .imgHearth {
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}
 
.infoBoxHeader {
    text-align: center;
    margin-bottom: 10px;
}
 
.programInfoBox {
    box-sizing: border-box;
    padding: 10px 20px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
}
 
.info {
    padding: 10px 10px;
}

.average, .commentsOfstudents, .university {
    margin: 0;
    width: 100%;
}

.commentContainer {
    padding: 0px 30px;
}
 
.commentContainer > div {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid beige;
}

.commentText {
    margin: 10px 0px;
}

.commentName {
    margin-bottom: 10px;
} 
