body {
    background-color: var(--beigeColor);
}

.container {
    padding: 10px;
    background-color: var(--lightColor);
    border: solid var(--darkColor);
    display: flex;
    justify-content: space-between;
}
.container > div >h3 {
    margin: 5px;
    font-family: "IBM Plex Sans Condensed";
}

.container > div > p {
    margin: 0px;
    margin-left: 5px;
    font-family: 'Barlow Condensed';
}

#topDiv{
    background-color: var(--beigeColor);
    display: flex;
    z-index: 1;
    width: 100vw;
}

#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgCross, .imgHearth {
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

#activeFilter {
    display: flex;
    justify-content: space-around;
}