:root {
  --beigeColor: #EDE7DF
  --lightColor: #EAEAEA
  --darkColor: #425664;
  --whiteColor: white;
  --blackColor: black;
}
/* *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
} */

body {
  margin: 0px;
}

header {
  z-index: 1;
  position: relative;
}

.info-about-wrapper > p {
  margin-left: 10px;
  margin-right: 10px;
}


#nav {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--whiteColor);
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: rgb(83, 81, 81);
  margin: 5px;
  border-radius: 4px;
}

.title-name {
  position: relative;
  left: 15px;
  margin: auto;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.search, .my-likes {
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.wrapper {
  width: 100vw;
}
h1 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.top-img {
  height: 50vw;
  background-color: grey;
}

a {
  text-decoration: none;
  color:black;
}

/* burger style */

.burger-container {
  position: absolute;
  top: 70px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid black;
}

.burger-list {
  cursor: pointer;
  height: 8vh;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  padding-left: 15px;
  font-size: 20px;
  font-family: 'Barlow Condensed';
}

/* .burger-list:hover {
border: 1px solid black;
} */

.burger-hidden {
  display: none;
}

h3, h4{
  /* font-family: 'Barlow Condensed'; */
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}
h1, h2 {
  font-family: 'Barlow Condensed';
}

p, div {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}


/* .search {
  //färger - bara för att testa om (byt icon - funktionen funkar)
  background-color: palevioletred;
}

.close {
    //färger - bara för att testa om (byt icon - funktionen funkar)
  background-color: darkgoldenrod;
} */


/* footer style */

#footer-div{
  background-color: #28343d;
  padding: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-div > p{
  margin-top: 20px;
  color: white;
}

.footer-title{
  color: #EAEAEA;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18pt;
}

.footer-item{
  color: #EAEAEA;
  margin-top: 2px;
  font-size: 11pt;
  text-decoration: none;
}