:root {
  --beigeColor: #EDE7DF
  --lightColor: #EAEAEA
  --darkColor: #425664;
  --whiteColor: white;
  --blackColor: black;
}

body {
  margin: 0px;
}

#nav {
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  text-align: center;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  background-color: rgb(83, 81, 81);
  margin: 5px;
  border-radius: 4px;
}

.title-name {
  position: relative;
  left: 15px;
  margin: auto;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.search, .my-likes {
  font-size: 20px;
  margin-right: 20px;
}

.wrapper {
  width: 100vw;
}
h1 {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.top-img {
  height: 50vw;
  background-color: grey;
}

p {
  margin-left: 10px;
  margin-right: 10px;
  /* text-align: justify; */
}

a {
  text-decoration: none;
  color:black;
}

/* burger style */

.burger-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.burger-list {
  cursor: pointer;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EDE7DF;
}
.burger-list:hover {
  background-color: #e4ded7;
}

.burger-hidden {
  display: none;
}

a {
  text-decoration: none;
  color:black;
}


/* .search {
  //färger - bara för att testa om (byt icon - funktionen funkar)
  background-color: palevioletred;
}

.close {
    //färger - bara för att testa om (byt icon - funktionen funkar)
  background-color: darkgoldenrod;
} */


/* footer style */

#footer-div{
  background-color: #425664;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title{
  color: #EAEAEA;
  margin-top: 10px;
  text-decoration: none;
  font-size: 18pt;
}

.footer-item{
  color: #EAEAEA;
  margin-top: 5px;
  text-decoration: none;
}

.footer-copyright{
  color: #EAEAEA;
  margin-top: 20px;
  text-decoration: none;
}