/* .container-hidden {
display:none;
} */

.bold {
  font-weight: 600;
  margin: 12px 10px 0px 10px;
}

.liked-item {
  border: 1px solid black;
}

.liked-info {
  margin: 10px;
  margin-top: 5px;
}

.liked-div{

}
.liked-heart-div {
    
}